// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    background-color: #fff;
   /* color: white;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    scroll-behavior: smooth;


}

// #header {
//    background-image: 
//     linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
//     url(/images/bg.jpg);
//     min-height: 100vh;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
// }

.content {
    text-align: center;

   
}

.full-height {
    height: 100vh;
     background-image: 
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(/images/bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#category-index {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/bg1.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#test {
     
     // background-color: #212529;
     font-family: 'Heebo', sans-serif;
}

#first-section {
    min-height: 30vh;
}

#featured-section {
    min-height: 100vh;
    // background-color: #212529;
}

#featured-section h1 {
    font-family: 'Heebo', sans-serif;
}

#featured-section img{
    height: 18rem;
    width: auto;
    padding: .3rem;
    border: 2px solid gray;
    border-radius: .2rem;
}

#featured-section img:hover{
    // box-shadow: 3px 3px 10px gray;
    transition: .5s;
}


#test p {
    letter-spacing: 1px;
}

#test img {
    height: 7rem;
    width: auto;
}

.details {
    width: 33.3%;
}

#how {
    letter-spacing: 1px;
    font-family: 'Heebo', sans-serif;
}


.navbar {
    background-color: #1D2020;
}


.list-group {
    border-radius: 0;
}

.tab-content {
     border-radius: 0;
}

#list-tab {
    border-radius: 0;
}



#icon {
    height: 2.1rem;
    width: auto;
}




.btn {
    border-radius: 0;

}

.badge {
    border-radius: 0;
    padding: .3rem;
    
}

.card {
    border-radius: 0;
   
}

.card img {
    object-fit: contain;
    height: 10rem;
    width: auto;
}

.input {
    border-radius: 0;
}

#card-cat {
    border-radius: 0;
    background-color: #fff;
    opacity: 1;
    // letter-spacing: 1px;
}

#card-cat:hover {
    box-shadow: 2px 2px 5px gray;
    transition: .5s;
    opacity: 1;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}


.content h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 600;
    letter-spacing: 6px;
    color: white;
    text-shadow: 1px 1px red;
    font-size: 9.5rem;
}

.content span {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 5px 5px 5px black;
}

.title {
    font-size: 8.9rem;
}

.title h2 {
    font-size: 8.9rem;
    text-shadow: 5px 5px 5px black;
}

.links > a {
    color: white;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* Start of Login Page */

#login {
     background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#card-login{
    width: 60%;
    margin: 5rem 0;
    border: none;
    border-radius: .3rem;
    // border-top-right: 1rem;
}

#footer {
    height: 10vh;
    padding: 1.2rem;
    letter-spacing: 2px;
    background-color: #1D2020;
}

/* End of login Page*/

/* START OF REGISTER */
#register {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#card-register{
    width: 80%;
    margin: 5rem 0;
    border: none;
    border-radius: .3rem;

}
/* END OF REGISTER */

// media query
@media only screen and (min-width: 721px) and (max-width: 1024px){
    
    #featured-section img{
        height: 9rem;
        width: auto;
        
    }
}

@media only screen and (min-width: 601px) and (max-width: 720px){
    .title h2 {
        font-size: 6.3rem;
    }

    #featured-section img{
        height: 9rem;
        width: auto;
        
    }
}


@media only screen and (min-width: 481px) and (max-width: 600) {
    .title h2 {
        font-size: 4rem;
    }

    #how {
        letter-spacing: 1px;
        font-family: 'Heebo', sans-serif;
        font-size: 2rem;
    }

    #feat {
        letter-spacing: 1px;
        font-family: 'Heebo', sans-serif;
        font-size: 2rem;
    }

    .details {
        width: auto;
    }

    #featured-section img{
        height: 9rem;
        width: auto;
        
    }
}



@media only screen and (max-width: 480px) {
    .title h2 {
        font-size: 4rem;
    }

    #how {
        letter-spacing: 1px;
        font-family: 'Heebo', sans-serif;
        font-size: 2rem;
    }

    #feat {
        letter-spacing: 1px;
        font-family: 'Heebo', sans-serif;
        font-size: 2rem;
    }

    .details {
        width: auto;
    }

    #featured-section img{
        height: 9rem;
        width: auto;
        
    }
}

@media only screen and (max-width: 320px) {
    .title h2 {
        font-size: 3rem;
    }

    #how {
        letter-spacing: 1px;
        font-family: 'Heebo', sans-serif;
        font-size: 2rem;
    }

    #feat {
        letter-spacing: 1px;
        font-family: 'Heebo', sans-serif;
        font-size: 2rem;
    }

    .details {
        width: auto;
    }

    #featured-section img{
        height: 9rem;
        width: auto;
        
    }
}


////////////////////// sample code

